<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UCI Directory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>018D21031BED1E8A00CBDE4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>018D211C1BED1E8B00CBDE4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>018D21271BED1E8B00CBDE4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
